# Functions Class

#### Inbuilt Functions

In [83]:
print('Hi, python class')

Hi, python class

In [84]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

![Alt text](image-1.png)

In [85]:
def add(a, b):
    """ Addition of 2 variables"""
    c=a+b
    return c

In [86]:
add(8,9)

17

In [87]:
add(3,4)

7

#### Multiple inputs in functions: use of arguments in functions *args

In [88]:
def arguments(*args):
    for i in args:
        print(i)

In [89]:
arguments(4, 5, 6,7, 8, 9, 10)

4
5
6
7
8
9
10

In [90]:
def add_many(*nums):
    """this functions is for multiple numbers"""

    # initialize sum to 0

    s = 0
    for i in nums:
        s = s+i

    return s

In [91]:
add_many(4,6)

10

In [92]:
add_many(1, 4, 6, 9)

20

In [93]:
s1 = add_many(10, 111, 13, 15, 17, 56, 82)

In [94]:
s1

304

### Getting product of multiple numbers

In [95]:
def product_many(*num):
    """
    this functions gives product for multiple numbers
    """

    # Initialize product by 1

    p = 1

    for i in num:
        p = p*i

    return p

In [96]:
product_many(3,4)

12

In [97]:
product_many(6, 10, 12, 14, 20)

201600

### Keyword Arguments

**Kwargs - dictionaries
{key1:value1, key2:value2, key3:value3}

In [98]:
dct = {101 : 'A',
       102 : 'B',
       103 : 'C'}

In [99]:
dct.keys()

dict_keys([101, 102, 103])

In [100]:
dct.values()

dict_values(['A', 'B', 'C'])

In [101]:
dct.items()

dict_items([(101, 'A'), (102, 'B'), (103, 'C')])

In [102]:
def keyword_arguments(**kwargs):
    for key, value in kwargs.items():
        print(f'{key} : {value}')

In [103]:
keyword_arguments(name = 'A', age = 12, gender = 'M', married = False)

name : A
age : 12
gender : M
married : False

In [104]:
keyword_arguments(name = 'A', age = 12, gender = 'M', married = False, email = 'example@gmail.com')

name : A
age : 12
gender : M
married : False
email : example@gmail.com

### Creation of user data

In [105]:
def create_user(**kwargs):
    user = {'username' : "",
            'email':"",
            'age':18}
    user.update(kwargs)
    return user

In [106]:
user1 = create_user(username='A', email='example@gamil.com', age='23')
user1

{'username': 'A', 'email': 'example@gamil.com', 'age': '23'}

### Function to calculate hypotenuse of right-angled triangle

to solve for the hypotenuse c:   c = sqrt(a² + b²)

Pythagorean theorem states:    a² + b² = c²

In [107]:
2**2

4

In [108]:
9**(1/2)

3.0

In [109]:
def hypotenuse(a, b):
    c = (a**2 + b**2)**(1/2)
    return c

In [110]:
h1 = hypotenuse(3,4)

In [111]:
h1

5.0

In [112]:
h2 = hypotenuse(11, 12)

In [113]:
h2

16.278820596099706

### taking 3 sides of triangle as input and check whether it forms a triangle or not

In [114]:
def is_triangle(x, y, z):
    if(x+y)>z and (y+z)>x and (z+x)>y:
        s = True
    else:
        s = False
    return s

In [115]:
is_triangle(3, 4, 5)

True

### calculating area of triangle with given sides a,b,c

![Alt text](image-2.png)

In [116]:
def area_triangle(a, b, c):
    if is_triangle(a,b,c)==True:
        s = (a+b+c)/2
        ar = (s*(s-a)*(s-b)*(s-c))**(1/2)
    else:
        ar = None
        print(f'the given sides {a}, {b} and {c} do not form a triangle')

    return ar

In [117]:
t1 = area_triangle(12, 13, 14)

In [118]:
t1

72.30793524918272

In [119]:
t2 = area_triangle(1, 2, 4)

the given sides 1, 2 and 4 do not form a triangle

In [120]:
t2

In [121]:
area_triangle(3,4,5)

6.0

![Alt text](image-3.png)

#### Convert temperature celsiud to farenheit

![Alt text](image-5.png)

In [122]:
def cel_to_far(C):
    F = (9/5)*C + 32
    return F

In [123]:
cel_to_far(35)

95.0

In [124]:
t1 = cel_to_far(40)

In [125]:
t1

104.0

In [126]:
def far_to_cel(F):
    C = (5/9)*(F-32)
    return C

In [127]:
far_to_cel(40)

4.444444444444445

#### Function to calculate factorial of given number

6! = 6x5x4x3x2x1

In [128]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [129]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [130]:
def factorial(n):
    if n==0:
        f = 1
    else:
        f = 1
        for i in range(1, n+1):
            f = f*1
    return f

In [132]:
factorial(5)

1

#### function to count vowels(a, e, i, o, u)

In [133]:
a = "Sneha"

In [134]:
a.upper()

'SNEHA'

In [135]:
a.lower()

'sneha'

In [136]:
'a' in 'aeiou'

True

In [137]:
def vowel_count(str):
    v = 0
    for i in str.lower():
        if i in 'aeiou':
            v = v+1
    return v

#### for given P INR, N in Years and R in %p.a calculate EMI(Equal Monthly Installments)
![Alt text](image-6.png)

1. 1 year = 12%
2. 12 month = 12%
3. 1 month = (12)%12 = 1% = 1/100 = 0.01 per month

In [138]:
def calculate_EMI(P, N, R):

    n = N*12

    r = R/(12*100)

    x = (1+r)**n

    EMI = P*r*x/(x-1)

    return round(EMI)

In [139]:
e1 = calculate_EMI(P=5000000, N=3, R=12.5)
e1

167268

#### Take marks of multiple students 

1. More than 90: A
2. 80-89: B
3. 70-79: C
4. 60-69: D
5. below 60: F

In [2]:
def get_grades(*marks):
    gr = []
    for i in marks:
        if i>90:
            gr.append('A')
        elif i>=80 and i<=89:
            gr.append('B')
        elif i>=70 and i<=79:
            gr.append('C')
        elif i>=60 and i<=69:
            gr.append('D')
        else:
            gr.append('F')

    return gr

In [3]:
get_grades(78)

['C']

In [4]:
g1 = get_grades(65, 75, 89, 45, 16, 100)
g1

['D', 'C', 'B', 'F', 'F', 'A']

![Alt text](image-7.png)

In [7]:
def ana_marks(*marks):
    s = sum(marks)
    c = len(marks)

    avg = (s/c)

    # find highest marks
    high = max(marks)

    #lowest marks
    low = min(marks)

    # numbers of students passed and failed

    p = 0
    f = 0

    for i in marks:
        if i>=60:
            p = p+1
        else:
            f = f+1

    # Creating a dctionary 

    dct = {'Average' : [avg],
           'highest marks': [high],
           'Lowest Marks': [low],
           'npass' : [p],
           'nfail' : [f]}
    
    import pandas as pd
    df1 = pd.DataFrame(dct)

    return df1

In [8]:
ana_marks(35, 78, 56, 34, 89, 86)

   Average  highest marks  Lowest Marks  npass  nfail
0     63.0             89            34      3      3

### Decorator functions

In [9]:
def welcome_decorator(func):
    def wrapper(*args, **kwargs):
        print("Welcome to the program")

        func(*args, **kwargs)
        print("thank you for using code")

    return wrapper

In [11]:
@welcome_decorator
def hello_world():
    print("hello")

In [13]:
hello_world()

Welcome to the program
hello
thank you for using code